[submodule "third_party/flame_perfomance_test_game"]
	path = third_party/flame_perfomance_test_game
	url = git@github.com:christopherfujino/flame_perfomance_test_game.git
[submodule "third_party/reveal.js"]
	path = third_party/reveal.js
	url = git@github.com:christopherfujino/reveal.js.git
[submodule "third_party/flutter"]
	path = third_party/flutter
	url = git@github.com:flutter/flutter.git
