[submodule "third_party/flame_perfomance_test_game"]
	path = third_party/flame_perfomance_test_game
	url = git@github.com:flame-engine/flame_perfomance_test_game.git
[submodule "third_party/reveal.js"]
	path = third_party/reveal.js
	url = git@github.com:christopherfujino/reveal.js.git
